
h1 {
	font-size: 3em;;
	letter-spacing: 1px;
	font-style: italic;
	font-weight: lighter;
	color: pink;
}

h2 {
	font-style: italic;
	font-size: 2em;
	letter-spacing: 1px;
	font-weight: normal;
}

.description {
	font-weight: normal;
	font-style: italic;
}

body {
	font-family:'Open Sans Condensed', sans-serif;
	background-image: url("http://66.media.tumblr.com/92a1887f1a0c9e24fa499d854387eec6/tumblr_ny6nheWsdm1uhrjdjo3_1280.gif");
	border-style: none;
}

.wrapper {
  margin: 30px auto;
  max-width: 80%;
  padding: 20px;
  font-weight: normal;
  background-color: #ffffff;
}

header {
  padding: 2em 1em;
  border-bottom: solid;
  border-color: pink;
  background-color: #ffffff;
  display:block;
}

footer {
  border-top: solid;
  clear: both;
  font-style: italic;
  border-color: pink;
  margin-top: 5px;
  margin-bottom: 5px;
  float: none;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 14px;
  font-kerning: auto;
}

.page {
  float: right;
  width: 80%;
  border-left: solid;
  padding-left: 1.5em;
  padding-bottom: 2em;
  min-height: 400px;
  background-color: #ffffff; 
  letter-spacing: 1px;
  font-size: 1em;
  border-color: pink;
  margin-bottom: 10px;
  font-kerning: auto;
}

aside {
  float: left;
  width: 15%;
  background-color: #ffffff;
}

nav ul {
  list-style-type: disc;
  padding-bottom: 0;
  font-kerning: auto;
}

nav li {
  margin-bottom: 1em;
  color: #ff95da;
  font-family: 'Roboto', sans-serif;
}

nav .active {
  font-weight: bold;
  color:#ff68ca;
}
a {
  text-decoration:none;
  color: #ff95da;
}
a:visited {
  color: #ff95da;
}
